* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  #header {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-shadow: 1px 0 5px rgb(0, 0, 0), 1px 0 3px rgb(0, 0, 0);
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  #header div.logo img {
    width: 270px;
  }
  #header div.menu ul {
    display: flex;
  }
  #header div.menu ul li {
    margin-right: 35px;
    position: relative;
    font-size: 20px;
    color: rgb(40, 78, 148);
    cursor: pointer;
  }
  #header div.menu ul li:last-child {
    margin-right: 0;
  }
  #header div.menu ul li a {
    font-size: 20px;
    color: rgb(40, 78, 148);
    transition: 0.6s ease-in-out;
  }
  #header div.menu ul li a:hover {
    color: blue;
  }
  #header div.menu ul li .dropdown {
    position: absolute;
    left: -5px;
    top: 117%;
    background-color: rgb(14, 0, 69);
    width: 265px;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
  }
  #header div.menu ul li .dropdown ul {
    display: block;
  }
  #header div.menu ul li .dropdown ul li a {
    font-size: 14px;
    color: #fff;
  }

  #main {
    padding: 20px;
  }

  #head .img-text {
    height: 150px;
    width: 100%;
    background-image: url('../assets/about-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  #head .img-text h1 {
    font-size: 50px;
    color: #fff;
  }


  #About-write {
    padding: 30px;
    background-color: #202020;
    border-radius: 10px;
    
  }

  #About-write h4 {
    color: #ffc004;
    font-size: 18px;
    margin-bottom: 17px;
  }

  #About-write p {
    color: cornsilk;
    margin-bottom: 50px;
  }



  #news_splash {
    margin-top: 100px;
    background-color: maroon;
    padding: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  
  #news_splash div.new {
    background: rgb(168, 9, 9);
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #fff;
  }
  
  #news_splash .group {
    display: flex;
  }
  
  #news_splash div.new h4 {
    padding: 30px;
    width: 165px;
  
  }
  #news_splash span {
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
    white-space: nowrap;
    padding: 0 7rem;
    animation: move-right 5s linear infinite;
    
  }
  
  
  @keyframes move-right {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }

  }

  footer {
    margin-top: 150px;
    background-color: #202020;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  footer div.m {
    width: 300px;
  }
  
  footer div.m h6 {
    color: #40ff00;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    
  }
  
  footer div.m h6 span.line {
    margin-right: 5px;
  }
  
  footer div.m div.menu {
    text-align: center;
  }
  
  footer div.m .menu ul li {
    margin-bottom: 12px;
  }
  
  footer div.m .menu ul li img {
    width: 250px;
    margin-top: 30px;
  }
  
  footer div.m .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
  }
  
  footer div.m .menu ul li a:hover {
    color: #d4c0c0;
  }
  
  footer div.m .menu ul li a i {
    margin-right: 10px;
    font-size: 17px;
  }
  
  